.all-reviews {
   margin-bottom: rem(60);
   @media(min-width: $tablet) {
      margin-bottom: rem(120);
   }
   &__container {
   }

   &__block {

   }
}

.reviews-block {
   background-color: var(--clr-superlight-gray);
   box-shadow: var(--bsh-card);
   padding: rem(15) rem(10) rem(20);
   &:not(:last-child) {margin-bottom: rem(40);}
   img {
      display: block;
      width: 100%;
      height: rem(160);
      object-fit: cover;
      &:not(:last-child) {margin-bottom: rem(20);}
   }
   div {
      display: flex;
      flex-direction: column;
   }
   div h3 {
      @include dp-500-24;
      color: var(--clr-blue);
   }
   div p {
      @include bd-400-16;
      &:not(:first-child) {
         margin-top: rem(10);
      }
      @media(min-width: $mobileNormal) {
         &:not(:first-child) {
            margin-top: rem(20);
         }
      }
   }
   div span {
      display: block;
      @include bd-500-16;
      margin-top: rem(20);
   }
   div span:last-of-type {
      display: block;
      @include bd-400-16;
      margin-top: 0;
      color: var(--clr-dark-gray);
   }
   div button,
   div a {
      margin-top: rem(30);
      @media(min-width: $mobileMedium) {
         display: inline-flex;
         align-self: flex-end;
      }
   }
   @media(min-width: $mobileSmall) {
      padding: rem(20) rem(20) rem(30);
   }
   @media(min-width: $mobile) {
      display: flex;
      align-items: flex-start;
      img {
         flex: 0 0 rem(300);
         &:not(:last-child) {
            margin-bottom: 0;
            margin-right: rem(20);
         }
      }
   }
   @media(min-width: $tablet) {
      img {
         flex: 0 0 rem(340);
         &:not(:last-child) {
            margin-right: rem(40);
         }
      }
   }
}