.chars {
   margin-bottom: rem(40);
   @media(min-width: $tablet) {
      margin-bottom: rem(80);
   }
   @media(min-width: $pc) {
      margin-bottom: rem(120);
   }
   .chars__container {
      h2 {
         @include dp-600-32;
         text-align: center;
         color: var(--clr-blue-gray);
         margin-bottom: rem(30);
         @media(min-width: $tablet) {
            margin-bottom: rem(60);
         }
      }
      div {
         display: flex;
         justify-content: space-between;
         align-items: center;
         border: 1px solid var(--clr-light-blue);
         &:not(:last-child) {
            margin-bottom: rem(5);
         }
         transition: all 0.32s ease-in-out;
         @media(any-hover: hover) {
            &:hover {
               background-color: var(--clr-superlight-blue);
            }
         }
      }
      div h6 {
         flex: 1 1 auto;
         padding: rem(12) rem(20);
         height: 100%;
         border-right: 1px solid var(--clr-light-blue);
         @include bd-400-16;
         color: var(--clr-dark-gray);
         @media(min-width: $mobileSmall) {
            flex: 0 1 69%;
         }
      }
      div span {
         padding: rem(12) rem(20);
         @include bd-400-16;
      }
      button {
         margin: 0 auto;
         margin-top: rem(30);
         @media(min-width: $tablet) {
            margin-top: rem(40);
         }
      }
   }
}