.director {
   padding: rem(30) 0 rem(40);
   margin-bottom: rem(40);
   @media(min-width: $tablet) {
      padding: rem(50) 0 rem(70);
      margin-bottom: rem(80);
   }
   @media(min-width: $pc) {
      padding: rem(60) rem(80);
      margin-bottom: rem(120);
   }
   background-color: var(--clr-superlight-blue);
   &--reverse.director {
      .director__container {
         @media(min-width: $mobileNormal) {
            flex-direction: row-reverse;
         }
         img {
            @media(min-width: $mobileNormal) {
               &:not(:last-child) {
                  margin-left: rem(40);
                  margin-right: 0;
               }
            }
         }
      }
   }
   &--no-mr.director {
      margin-bottom: 0;
   }
   .director__container {
      display: flex;
      flex-direction: column;
      @media(min-width: $mobileNormal) {
         flex-direction: row;
         align-items: flex-start;
      }
      img {
         display: block;
         width: 100%;
         height: rem(240);
         object-fit: cover;
         object-position: center top;
         &:not(:last-child) {
            margin-bottom: rem(30);
         }
         @media(min-width: $mobileMedium) {
            flex: 1 0 rem(360);
            max-width: rem(360);
         }
         @media(min-width: $mobileNormal) {
            flex: 1 0 rem(300);
            max-width: rem(300);
            &:not(:last-child) {
               margin-right: rem(40);
               margin-bottom: 0;
            }
         }
         @media(min-width: $mobile) {
            flex: 1 0 rem(360);
            max-width: rem(360);
         }
      }
      h3 {
         @include dp-500-24;
         color: var(--clr-blue);
         &:not(:last-child) {margin-bottom: rem(10);}
      }
      h4 {
         @include dp-500-24;
         &:not(:first-child) {
            margin-top: rem(10);
         }
      }
      h5 {
         @include dp-400-18;
         color: var(--clr-dark-gray);
         font-size: rem(14);
         &:not(:last-child) {
            margin-bottom: rem(30);
         }
      }
      p {
         @include bd-400-16;
         &:not(:first-child) {
            margin-top: rem(15);
         }
      }
   }
}